
*/.idea
*/cmake-build-debug
*.exe
*.o

/.idea
.idea
/cmake-build-debug
cmake-build-debug

/CMakeFiles
CMakeFiles/
CMakeFiles

*.s
*.gcno
.gcno
*.gcda
*.gcov
*.map
*.MAP
*.obj
*.OBJ
*.OVL

*.TR
*.TD

.vscode
/.vscode
.vscode/
