*/.idea
*/cmake-build-debug
cmake-build-debug
/cmake-build-debug
cmake-build-debug/

.vscode
/.vscode
.vscode/

build
/build
/build

/CMakeFiles
CMakeFiles/
CMakeFiles

cmake-build-debug-coverage/
/cmake-build-debug-coverage
cmake-build-debug-coverage

*.exe
*.o
*.s
*.gcno
.gcno
*.gcda
*.gcov
*.map
*.MAP
*.obj
*.OBJ
*.OVL
*.TR
*.TD

.zip
*.zip

CMakeCache.txt
./CMakeCache.txt
*/CMakeCache.txt

gtestbadge
/gtestbadge
gtestbadge/

/Testing
Testing
Testing/


